				<div role="tabpanel">

					  <!-- Nav tabs -->
					 <ul class="nav nav-tabs" role="tablist">
					  <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab"><h4 class="bold-red">Critic Reviews</h4></a></li>
					    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab"><h4 class="bold-red">User Reviews</h4></a></li>
					    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab"><h4 class="bold-red">Google Reviews</h4></a></li>
					     <li role="presentation"><a href="#add" aria-controls="add" role="tab" data-toggle="tab"><h4 class="bold-red">+ Add Review</h4></a></li>
					 </ul>

					  <!-- Tab panes -->
					  <div class="tab-content">
					    <div role="tabpanel" class="tab-pane fade in active" id="home">

					    	<div class="row">
					    		<div class="col-md-1"></div>
					    		<div class="col-md-10">
					    			<br>
					    			<br>
					    		<div ng-repeat="x in reviewresults track by $index">
					    			<div class="critic-box">	
									<h2 class="bold-red">
									<span ng-show="x.docSentiment['type'] == 'positive' ">	
										<span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-thumbs-up fa-stack-1x fa-inverse"></i>
										</span>
									</span>

									<span ng-show="x.docSentiment['type'] == 'negative' ">	
										<span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-thumbs-down fa-stack-1x fa-inverse"></i>
										</span>
									</span>
									{{x.domain.replace("www.", "").replace(".com", "") | uppercase }} 
									</h2>	
									<h2><em>{{x.title}}</em></h2>
					<!-- 				<p>{{x.date_published | date: "fullDate" }}</p> -->
									<p>{{x.docSentiment["contentExcerpt"] | limitTo:210}} ... <a href="{{x.url}}" target="_blank">Read Full Review</a></p>
									<em>{{x.author}}</em>
										<div ng-show="x.docSentiment['score'] != null">
											<span class="bold">Score:</span> {{x.docSentiment["score"] | number:0}} {{x.docSentiment["type"] | uppercase}}<br>
										</div>
										<p><span class="bold">Keywords:</span><em> {{x.docSentiment["keywords"][1].text}}, {{x.docSentiment["keywords"][2].text}}, {{x.docSentiment["keywords"][3].text}}, {{x.docSentiment["keywords"][4].text}}, {{x.docSentiment["keywords"][5].text}}, {{x.docSentiment["keywords"][6].text}}</em></p>
								</div>
									<br>
								</div>

					

							</div>
							<div class="col-md-1"></div>
						</div>


					    </div>
					    <div role="tabpanel" class="tab-pane fade" id="profile">
					    	<div ng-controller="reviewController">
					    	<div class="row">
					    	<div class="col-md-1"></div>	
					    	    <div class="col-md-10">
							    	<div ng-repeat="x in userReviews">
							    		<br>
							    		<div ng-show="x.restaurant == details.name">
							    			<div class="critic-box">
								    		<h3 class"bold">{{x.title}} by <span class="light">{{x.name}}</span></h3>
								    		<p>{{x.content}}</p>
								    		<p>User Score {{x.score}}</p>
								    		<br>
							    		</div>
							    		</div>
							    		<br>
							    		<br>
							    	</div>
							    </div>	
							<div class="col-md-1"></div>						    	
					    	</div>

					    	</div>          					    	

					    </div>
					    <div role="tabpanel" class="tab-pane fade" id="messages">
					    	<br>
					    	<br>
					       <div class="row">
					    	<div class="col-md-1"></div>	
					    	    <div class="col-md-10">	

					    	    	<div class="critic-box">
							    	<p><em><span class="bold">{{google.reviews[0].author_name}}</span></em><br>
							    	{{google.reviews[0].text}}<br>
							    	<span class="bold-red">Rating: {{google.reviews[0].rating}}</span></p>
							    	</div>
							    	
							    	<br>

									<div class="critic-box">							    
							    	<p><em><span class="bold">{{google.reviews[1].author_name}}</span></em><br>
							    	{{google.reviews[1].text}}<br>
							    	<span class="bold-red">Rating: {{google.reviews[1].rating}}</span></p>
							    	</div>
							    	
							    	<br>
							    	
							    	<div class="critic-box">
							    	<p><em><span class="bold">{{google.reviews[2].author_name}}</span></em><br>
							    	{{google.reviews[2].text}}<br>
							    	<span class="bold-red">Rating: {{google.reviews[2].rating}}</span></p>
							    	</div>
							    
							    
							    </div>	
							<div class="col-md-1"></div>						    	
					    	</div>

					    </div>

					     <div role="tabpanel" class="tab-pane fade" id="add">
					     	<div ng-controller="reviewController">
					     				<br>
					     			<div class="row">
					     				<div class="col-md-1"></div>
					     				<div class="col-md-10">
						                  <h1>Submit Your Own Review:</h1>
						                  <h3 class="bold-red">{{submitMessage}}</h3>
						                  <form ng-submit="createReview()">
						     				   <!-- Add Restaurant -->
						     				<input type="text" ng-model="newReview.restaurant" class="form-control" name="{{details.name}}" ng-value="details.name" ng-model="details.name" style="display:none">
						                  	  <input type="text" ng-model="newReview.name" class="form-control" placeholder="Name"><br>
						                       <input type="text" ng-model="newReview.title"class="form-control" placeholder="Title"><br>
						                       <textarea type="text" ng-model="newReview.content" class="form-control" placeholder="Content"></textarea>
						                       	<br>
						                       <input type="text" ng-model="newReview.score" class="form-control" rows="3" placeholder="Score"><br>
						                      <button class="btn btn-default">Submit</button>
						                   </form>
						     			</div>
						     			<div class="col-md-1"></div>
						     		</div>
						     </div>
					     </div>
					  </div>

					</div>