<h3 class="bold">{{details.name | uppercase}}<br>
	<span class="light">{{yelpresults[0]["hash"].location.neighborhoods[0]}}</span><h3>
		<span class="light small-font">{{yelpresults[0]["hash"].categories[0][0]}}</span>
				<address>
						{{details.address_components[0].long_name}} {{details.address_components[1].long_name}}<br>
						{{details.address_components[2].long_name}}, {{details.address_components[3].short_name}} {{details.address_components[5].long_name}}<br>
						<span class="bold">{{details.formatted_phone_number}}</span><br>						
					    <a href="{{details.website}}">{{details.name}} Website</a>
					</address>
				<div class="small-font light">
					{{details.opening_hours.weekday_text[0]}}<br>
					{{details.opening_hours.weekday_text[1]}}<br>
					{{details.opening_hours.weekday_text[2]}}<br>
					{{details.opening_hours.weekday_text[3]}}<br>
					{{details.opening_hours.weekday_text[4]}}<br>
					{{details.opening_hours.weekday_text[5]}}<br>
					{{details.opening_hours.weekday_text[6]}}<br>
				</div>
				<br>