<h1>Application#Index</h1>

<div ng-controller="searchController">

      <form ng-submit="searchName(name)">
            <input type="text" ng-model="name" placeholder="Search for restaurant">
            <button type="submit" value="Search">Submit</button>
      </form>

      <br>

<h1>Results</h1>
{{results.full_name}}<br>
{{results.bio}}<br>
<img src="{{results.profile_picture}}">
<h1>Images</h1>
<br>
<div ng-repeat="x in imageresults" style="width:300px;display:inline-block;">
<img src="{{x.images.thumbnail.url }}">
</div>

<h1>Content</h1>
<div ng-repeat="x in reviewresults">
{{x.content}}<br>
<br>
<br>
<br>
</div>


</div>