<h1>Application#Index</h1>

<div ng-controller="searchController">

      <form ng-submit="searchName(name)">
            <input type="text" ng-model="name" placeholder="Search for restaurant">
            <input type="text" placeholder="Zipcode or Address">            
            <button type="submit" value="Search">Submit</button>
      </form>

      <br>
<!-- 
<h1>Results</h1>
{{results.full_name}}<br>
{{results.bio}}<br>
<img src="{{results.profile_picture}}">
<h1>Images</h1>
<br>
<div ng-repeat="x in imageresults" style="width:300px;display:inline-block;">
<img src="{{x.images.thumbnail.url }}">
</div> -->


<div ng-show="reviewresults.length > 0">
<p>{{reviewresults.length}} Reviews</p>
<p>Critic Rating: {{totalAverage}}%</p>
</div>

<h1>Reviews</h1>

<div ng-repeat="x in reviewresults track by $index">
<h1>{{x.title}}</h1><br>
{{x.author}}
{{x.excerpt}}<br>
{{x.url}}<br>
<img src="{{x.lead_image_url}}" style="width:20%"><br>
<br>
Score: {{x.docSentiment["score"] | number:0}}% {{x.docSentiment["type"] | uppercase}}<br>
</div>


</div>