<div class="background-image-about">
<div class="dark-background">
<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-6 well text-center center-box">
		<h1 class="bold-red">About Crackerjack</h1>
		
		<h4>Crackerjack is a web application built with the intention of creating a “Rotten Tomatoes” style ranking system for restaurants. It uses the Nokogiri gem and Readability Parser API to scrape Google search results for restaurant reviews, and the <a href="http://www.alchemyapi.com/products/demo/alchemylanguage" target="_blank">Alchemy Sentiment Analysis API</a> to analyze results for positive or negative content.</h4>

		<h4>With each restaurant search, results for relevant publications and blog reviews are scraped from Google search pages using a custom Ruby scraper. The scraper was created specifically for this project using Nokogiri combined with the Readability Parser API to break the article into title, content, author, etc.</h4>

		<h4>Article content is passed through the Alchemy Language API which analyzes the text and returns a postive or negative "Sentiment Analysis," which is calculated together to give it a total scores, which is compared against the Google Places and Yelp restaurant ratings.</h4>

	</div>
	<div class="col-md-3"></div>
</div>
</div>
</div>
