<br>
<br>
<div class="row">
	<div class="col-md-1"></div>	
		 <div class="col-md-10">	

					    	    	<div class="critic-box">
							    	<p><em><span class="bold">{{google.reviews[0].author_name}}</span></em><br>
							    	{{google.reviews[0].text}}<br>
							    	<span class="bold-red">Rating: {{google.reviews[0].rating}}</span></p>
							    	</div>
							    	
							    	<br>

									<div class="critic-box">							    
							    	<p><em><span class="bold">{{google.reviews[1].author_name}}</span></em><br>
							    	{{google.reviews[1].text}}<br>
							    	<span class="bold-red">Rating: {{google.reviews[1].rating}}</span></p>
							    	</div>
							    	
							    	<br>
							    	
							    	<div class="critic-box">
							    	<p><em><span class="bold">{{google.reviews[2].author_name}}</span></em><br>
							    	{{google.reviews[2].text}}<br>
							    	<span class="bold-red">Rating: {{google.reviews[2].rating}}</span></p>
							    	</div>
							    
							    
		</div>	
	<div class="col-md-1"></div>						    	
</div>