<!-- Spinner -->
<div ng-hide="reviewresults.length > 0 && imageresults.length > 0">
<span us-spinner="{radius:19, width:30, length:0, corners:0.1, color:'white', lines:17, speed:1.6, shadow:on, trail:74}" spinner-key="spinner-1"></span>
</div>
<!-- End Spinner -->

<div ng-class="descriptionClass">
    {{mainErrorMessage}}<br>
    <h1>Search by Restaurant to Find Opinions of <strong>Professional Food Critics</strong><br>transformed into <span class="bold-maroon"><br>Ratings.</span></h1>
</div>

<div class="background-image-main" class="fade-out">
<div ng-class="darkBackground">
</div>
</div>