<div class="row">
	<div class="col-md-1"></div>	
		<div class="col-md-10">
			<div ng-repeat="x in userReviews">
				<div ng-show="x.restaurant == details.name">
						<div class="critic-box">
								 <h2 class"bold">{{x.title}} by <span class="light">{{x.name}}</span></h2>
								    		<p>{{x.content}}</p>
								    		<p>User Score {{x.score}}</p>
								    		<br>
						</div>
				</div>
							    		<br>
							    		<br>
			</div>
	 </div>	
		<div class="col-md-1"></div>						    	
</div>

    			