<nav class="navbar navbar-default">
  <div class="container-fluid">
    

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand bold-red" href="/">CrackerJack</a>
    </div>


    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
          <form ng-submit="searchName()" class="navbar-form navbar-left mobile-hidden" role="search">
              <input type="text"  ng-autocomplete ng-model="name" options="options1" details="details" class="form-control" placeholder="Search by Restaurant for Food Critic Reviews"/>  
             <button type="submit" class="btn btn-default search-btn" value="Search">Search  <i class="fa fa-search"></i></button>
          </form>
                 <span class="error-message" ng-show="errorMessage.length > 0">{{errorMessage}}</span> 
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="#" class="bold" data-toggle="modal" data-target="#about">ABOUT</a>
        </li>
        <li>
          <a href="#" class="bold" data-toggle="modal" data-target="#contact">CONTACT</a>
        </li>
      </ul>

    </div>
  </div>
</nav>



